.heading {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

img[alt="Старт-533"] {
    border: 5px dotted green;
}
img[alt="Старт-533"]:hover {
    border: none;
    padding: 5px;
}

.ul {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style-type: square;
    list-style-image: url(img/p0254.gif);
    list-style-position: inside;
}

.menu {
    color: crimson;
    border: 4px dotted brown;
    list-style-type: none;
    font-style: italic;
    font-size: 20px;
}

.p {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px
}
.p:first-letter {
    font-size: 30px;
    color: darkred;
}
.text {
    font-style: italic;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
}
.text {
    text-transform: capitalize;
}
.email:hover{
    background: #faf88e;
    color: #964b00;
}
.email {
    font-style: italic;
    padding: 3px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
}
a:hover {
    color: darkred;
}
.button:hover {
    background: #ffff00;
    color: #000;
}
.button:active {
    background: #ff7518;
}
.characters {
    border: 1px solid #000;
    width: 400px;
    height: 450px;
    border-collapse: collapse;
}
.characters td {
    border: 1px solid #000;
    text-align: center;
    
}